<%= form_for [@survey, @question] do |f| %>
  <div class="form-row">
    <%= f.label :Body %>
    <%= f.text_field :body, placeholder: "Body" %>
  </div>
  <div class="row">
    <div class="large-8 large-centered columns" div id="radio-row">
      <div class="form-row">
        <%= f.label :text %>
        <%= f.check_box :text, {}, "true", "false" %>
      </div>
      <div class="form-row">
        <%= f.label :Rating %>
        <%= f.check_box :rating, {}, "true", "false" %>
      </div>
    </div>
    <div class="form-actions" id="tiny-button">
      <%= f.button %>
    </div>
<% end %>
