<%= form_for [@survey, @question] do |f| %>
  <div class="question-form-title">
    <%= f.label :Body %>
    <%= f.text_field :body, placeholder: "Body" %>
  </div>
  <div class="question-form-rating">
    <%= f.label :text %>
    <%= f.check_box :text, {}, "true", "false" %>
  </div>
  <div class="question-form-rating">
    <%= f.label :Rating %>
    <%= f.check_box :rating, {}, "true", "false" %>
  </div>
  <div class="form-actions">
    <%= f.button "Add Question" %>
  </div>
<% end %>
