<%= form_for [@survey, @question] do |f| %>
  <div class="question-form-title">
    <%= f.label :Body %>
    <%= f.text_field :body, placeholder: "Body" %>
  </div>
  <div class="question-form-rating">
    <%= f.label :text? %>
    <%= f.check_box :text?, {}, "true", "false" %>
  </div>
  <div class="question-form-rating">
    <%= f.label :Rating %>
    <%= f.check_box :rating, {}, "true", "false" %>
  </div>
  <div class="multiple-choice">
    <%= f.label :multiple_choice %>
    <%= f.check_box :multiple_choice, {}, "true", "false" %>
  </div>
  <div class="question-form-required">
    <%= f.label :Required? %>
    <%= f.check_box :required?, {}, "true", "false" %>
  </div>
  <div class="form-actions">
    <%= f.button "Add Question" %>
  </div>
<% end %>
