<%= 'edit question' %>

<%= form_for [@survey, @question] do |f| %>
  <div class="survey-form-title">
    <%= f.label :body %>
    <%= f.text_field :body, placeholder: "Body" %>
  </div>
  <div class="question-form-row">
    <div class="survey-form-rating">
      <%= f.label :rating %>
      <%= f.check_box :rating, name: "rating", value: true %>
    </div>
    <div class="multiple-choice-edit">
      <%= f.label :multiple_choice %>
        <%= f.check_box :multiple_choice, name: "multiple choice", value: true %>
    </div>
    <div class="survey-form-required">
      <%= f.label :require %>
      <%= f.check_box :require, name: "require", value: true %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button "submit edit", class: "add-question" %>
  </div>
<% end %>
