

  <div class="row" id="survey-question-index">
    <div class="large-5 large-centered columns">
    <h1 class="question-index-header"><%= "Survey title: #{@survey.title}" %></h1>
    <h1 class="question-index-group"><%= "Group: #{@survey.group}"%> <button><%= link_to "Edit", edit_survey_path(@survey) %></button> </h1>
  </div>
</div>



  <div class ="questions">
    <% @questions.each do |question| %>

      <div class="row">
        <div class="large-5 large-centered columns" id="question-row">
        <%= button_to "Answers for: #{question.body}",  question_answers_path(question, @answers), class: 'question button success radius small', method: :get %>
          <div class="column">
            <div class= "question-body">
              <%= button_to "Preview Question", new_question_answer_path(question, @answer), class: "tiny-button", method: :get %>
              <%= button_to "Edit Question", edit_survey_question_path(@survey, question), class: "tiny-button", method: :get  %>
              <%= button_to "Delete Question", survey_question_path(@survey, question), class: "tiny-button", method: :delete %>
            </div>
          </div>
      </div>
    </div>
        <% end %>

          <div class= "add-button">
            <%= button_to "Add Question", new_survey_question_path(@survey, @question), class: "button-round", method: :get  %>
                      </div>
          </div>
            </div>

      <script>
        $(document).foundation();
      </script>
</div>
