



      <h1><%= @question.body%></h1>
      <div class="column">
          <div class="small-12 columns">
         <ul>
          <h3><%= 'Answer' %></h3>
            <% @answers.each do |answer| %>
              <%unless answer.answer == nil%>
              <div class = "text-answer">
                <%= "#{answer.answer}"%>
              <% end %>
            <% end%>
              </div>

        </ul>
         <ul>
           <div class="rating" >


              <h3><%= 'Rating' %></h3>
                <% @answers.each do |answer| %>
                  <%unless answer.rating_answer == nil%>
                  <div class = "rating-answer">
                    <%= "#{answer.rating_answer}"%>
                    <% end %>

              </div>
                <% end %>
              </div>
              </ul>
            </div>
          </div>
