<h2 class="admin-header">Log in</h2>
<div class="admin-form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="admin-login">
      <%= f.submit "Log In" %>
      <% if devise_mapping.rememberable? -%>
        <div class="check-box">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    </div>
  <%= render "devise/shared/links" %>
    <% end %>
</div>
