= form_for(@survey) do |f|
  %div.survey-form-title
    = f.label :title
    = f.text_field :title, placeholder: "Title"

  %div.survey-form-title
    = f.label :group
    = f.text_field :group, placeholder: "Survey For"

  %div.survey-form-title
    = f.radio_button "publish", "false"
    = f.label "publish", "private"
    = f.radio_button "publish", "true"
    = f.label "publish", "publish"




  .form-actions
    = f.button "Add Survey"
