<h1>Edit Survey</h1>
<%= form_for(@survey) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.label :group %>
    <%= f.text_field :group, placeholder: "Survey For" %>
  </div>
  <div>
    <%= f.radio_button "publish", "false" %>
    <%= f.label "publish", "private" %>
    <%= f.radio_button "publish", "true" %>
    <%= f.label "publish", "publish" %>
  </div>
  <div class="actions"></div>
  <%= f.button "Edit" %>
<% end %>
<div>

</div>

<div>
  <%= link_to 'Back', surveys_path %>
</div>
