<html class="no-js" lang="en">

    <body style>
            <div class="surveys">
              <div class="row">
                <div class="medium-8 large-centered columns">
                  <% unless @surveys.nil? %>
                    <% @surveys.each do |survey| %>
                      <%= link_to survey_questions_path(survey) do %>
                          <% if admin_signed_in? == true %>
                            <div class="survey-button-and-group">
                              <%= link_to survey.title, survey_questions_path(survey), class: 'button success radius small' %>
                              <div class="survey-group">
                                  <%= "For: #{survey.group}" %>
                                </div>

                            </div>

                                <% elsif survey.publish == true && admin_signed_in? == false %>
                                  <div class="survey-button-and-group">
                                    <%= link_to survey.title, survey_questions_path(survey), class: 'button success radius small' %>
                                    <div class="survey-group">
                                      <%= "For: #{survey.group}" %>
                                    </div>
                                    </div>
                                 <% else survey.publish == false && admin_signed_in? == false %>

                </div>
              </div>
            </div>
                     <% end %>
                <% end %>
              <% end %>
            <% else %>
                  <h2>No results found</h2>
            <% end %>


          </div>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
