<html class="no-js" lang="en">

    <body style>
            <div class="surveys">
            <% unless @surveys.nil? %>
              <% @surveys.each do |survey| %>

                <%= link_to survey_questions_path(survey) do %>

                    <% if admin_signed_in? == true %>

                      <div class="survey-title"></p>
                        <%= link_to survey.title, survey_questions_path(survey), class: 'button success radius small' %>
                            <%= "For: #{survey.group}" %>
                          
                          </div>
                            <div class="survey-title">
                            <% elsif survey.publish == true && admin_signed_in? == false %>
                            <p class="survey-title"></p>

                              <%= link_to survey.title, survey_questions_path(survey), class: 'button success radius small' %>
                                  <%= "For: #{survey.group}" %>
                                </p>

                            <% else survey.publish == false && admin_signed_in? == false %>


                    </div>
                  </div>
                     <% end %>
                <% end %>
              <% end %>
            <% else %>
                  <h2>No results found</h2>
            <% end %>


          </div>
        <script>
          $(document).foundation();
        </script>
    </body>
</html>
